@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基础样式重置 */
page {
    min-height: 100vh;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}